
 
    .comp-page{
        background-color:rgba(247, 198, 64, 0.966);
        height: 250px;
        width: auto;
    }    
    
.centername{
    background-color:rgba(247, 198, 64, 0.966);
    text-align: center;
    top:250px;
    height: 700px;
    
    
}

#logo{
    padding-top:40vh ;
    font-size:60px;
    font-family: 'Courier New', Courier, monospace;
    color: #292e34;
    font-weight: 900;
}
.trademark{
  color: white;
}

.creator {
  color: black; /* Change to your desired color */
  margin-left:-30px; /* Adjust the space between the two spans */
}
#logodes{
    font-size:23px;
    font-weight: 900;
}
#logodes2{
  width:500px;
  position: relative;
  left:400px;
}

#logob{
    color: black;
}
#menu{
height: 40px;
  position: absolute;
 left: 900px;
 top:100px;
 border-radius: 8px;
  
}
.custom-button{
   
    
        background-color:black;
        border: none; 
        color: white; 
        padding: 15px 32px; /* Padding for size */
        text-align: center; /* Center text */
        display: inline-block; /* Align elements inline */
        font-size: 16px; /* Font size */
        margin: 10px 2px; /* Margin around the button */
        cursor: pointer; /* Pointer cursor on hover */
        border-radius: 12px; /* Curved edges */
        transition: background-color 0.3s ease; /* Smooth transition */
        position:relative;
        left: 10px;
        top: 100px;
      }
      
      .custom-button:hover {
        background-color:rgb(rgb(59, 56, 56));
      }
      
#carouselExampleControls{
    position: relative;
    top: 400px;
    height: 100px;
}
.abc{
    width: 1500px;
    height: 300px;
}
 .logos{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 450px;
    height: 100px;
    background-color: antiquewhite;
    z-index: 1;
}

.logos__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    list-style: none;
    padding: 0; 
    margin: 0;
  }
  
  .logos__item {
    margin: 20px; 
  }
  
  .logos__img {
    display: block;
  }
#create{
  width: 400px;
  font-family: cursive;
  font-size: larger;
  font-weight: 800;
  position: relative;
  top: 120px;


}
#create2{
  width: 400px;
  font-family: cursive;
color: rgba(175, 171, 170, 0.829);;
position: relative;
top: 150px;
margin-bottom: 30px;
}

.list{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
ul{
  position: relative;
  top: 200px;
}

#midbox{
    position: relative;
    top: 450px;
    
    height: 1000px;
background-color: rgb(247, 244, 244);
}
#box{
    position: relative;
    top: 50px; 
    left: 600px;
}
#box2{
    position: relative;
    display: inline;
    left: 200px;
    top: -400px;
    height: 250px;
    width: 290px;
}

.boximg1{
  height: 300px;
  width: 300px;
}

.boximg2{
  height: 100px;
  width: 100px;
}



#box3{
    height: 150px;
    position: relative;
    display: inline;
    left: 100px;
    top: -400px;
    height: 150px;
    width: 100px;
    opacity: 80%;
}

.box4{
    position: relative;
    bottom: 300px;
    left: 200px;
    width:350px;
   font-weight: 500
}


  .button2{  
    background-color:rgb(127, 194, 189);
    border: none; 
    color: white; 
    padding: 15px 32px; /* Padding for size */
    text-align: center; /* Center text */
    display: inline-block; /* Align elements inline */
    font-size: 16px; /* Font size */
    margin: 10px 2px; /* Margin around the button */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 12px; /* Curved edges */
    transition: background-color 0.3s ease; /* Smooth transition */
    position:relative;
    left: 300px;
    top: -450px;
  }
 
  .mblpage {
    width: 453px;
    height: 466px;
    padding: 120px 55px 0;
    position:relative;
    z-index: 1;
    left:700px;
    bottom: 400px;;
    background: url(../images/phone.png) 0 0 no-repeat;
    background-size: cover;
    border-radius: 8%;
    
  }

  .mblpagelistitem-userpic {
    width: 43px;
    height: 43px
  }

  .mblpagelistitem-note {
    padding: 14px 24px
  }

  .mblpagelistitem--s2 .mblpagelistitem-note {
    background-color: #efefef
  }

  .sidebox-title{    font-family: cursive;
    font-size: larger;
    font-weight: 800;}

    .sidebox-note{
      color: grey;
    }

  #patch2{
    background-color: rgb(247, 244, 244);
    height: 210px;
    width: auto;
    position: relative;
    bottom: 610px;;
  }

  .instantly {
    position:relative;
    bottom:610px;
    padding-top: 65px;
    padding-bottom: 50px;
    background-color: #9baed9
   
  }
  
  .instantly__box {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative
  }
  
  .instantly__main {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 2.5em;
    text-align: center
  }
  
  .instantly__title {
    max-width: 286px;
    margin-bottom: .25em;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.21875em
  }
  
  .instantly__note {
    max-width: 286px;
    color: #fff;
    font-size: 1.125em;
    line-height: 1.44444em
  }
  
  .instantly__preview {
    position: relative
  }
  
  .instantly__preview-box {
    margin-right: -15px;
    margin-bottom: 35px;
    margin-left: -15px;
    text-align: center;
   
    
  }
  
  .instantly__preview-img {
    width: 50%;
    vertical-align: top;
    position: sticky;
    z-index: 1;
  }
  
  .instantly__preview-info {
    margin-top: 52px;
    text-align: center;
    font-size: 1.125em
  }
  
  .instantly__preview-info--s3 br {
    display: none
  }
  
  .instantly__preview-info:first-child {
    margin-top: 0
  }
  
  .instantly__preview-title {
    letter-spacing: .14em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    line-height: 1.22222em
  }
  
  .instantly__preview-text {
    color: #282d33;
    line-height: 1.44444em
  }
  
  .instantly__preview-note{
    border: 1px solid black;
    height: 150px;
    width:150px;
    position: relative;
    bottom: 450px;
    left:50px;
  }
.instantly__preview-info_instantly__preview-info--s3{
    position: relative;
    left:1000px;
    bottom: 300px;;
}
.Customer{
    height: 1000px;
    width: auto;
    background-color: grey;
    position: relative;
    bottom: 900px;

}
#smallbox{
    border: 1px solid black;
    background-color: #2165b8;
    height: 120px;
    width: 120px;
position: relative;
left: 1030px;
top:-70px;
}
#smallbox2{
    border: 1px solid black;
    background-color:black ;
    height: 120px;
    width: 120px;
    position: relative;
    left: -130px;
    bottom: -125px;
}


